<!doctype html>

<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Swim DB - Edit</title>

  <link rel="stylesheet" href="swimDB.css">

</head>

<body>

  <div class="topnav">
    <a href="/">Athletes</a>
    <a href="/meets">Meets</a>
    <a href="/event">Events</a>
    <a href="/results">Results</a>
    <a class="active" href="/edit">Edit</a>

  </div>
  <h1>I can't know how to hear anymore about tables!</h1>

  <script src="swimDB.css"></script>
</body>

</html>